.modal-box {
	padding: .5rem;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal-container {
	&.small {
		width: 300px;
	}
	&.medium {
		width: 600px;
	}
	&.large {
		width: 900px;
	}
}
.modal-container {
	border: 2px solid #000;
	background: #fff;
	.modal-header {
		padding: 0.5rem;
	}
	.modal-contents {
		padding: 0.5rem;
	}
	.modal-footer {
		padding: 0.5rem;
	}
}
