.tab-container {
  .tab-menus {
    display: flex;
  }
  .tab-contents {
    padding: 0.5rem;
  }
  .tab-menu {
    padding: 0.5rem;
    &.active {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
