.button {
    // font-size: 1rem;
    border: none;
    border-radius: 6.25rem;
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    position: relative;
    &.on {
        background: #000;
        color: #fff;
        font-weight: 700;
    }
    &.inner-icon {
        .icon-arrow-l {
            background-image: url('./../../../public/arrow-l.svg');
        }
    }
}

.btn-group {
    display: flex;
}

.special {
    border: 1px solid #000;
}
