// .react-calendar__tile {
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	align-items: center;
// }
.dot {
	width: .375rem;
	height: .375rem;
	border-radius: 100%;
	background-color: orange;
}
