.selected-wrap {
	padding: 1rem 0;
}

.list-wrap {
	.link {
		&.active {
			background: #000;
			color: #fff;
		}
	}
}

.tags-wrap {
	.tags-item {
		margin-bottom: .5rem;
	}
	.tags-link {
		background-color: #ddd;
		padding: 0.25rem;
		border: none;
		&.tagOFF {
		}
		&.tagOn {
			font-weight: 700;
			background-color: #000;
			color: #fff;
		}
	}
}
